* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.light-theme {
  --color1: #f1f1f5;
  --color2: #232327;
  --color3: #787fa0;
  --clorWrapper: #f1f1f5d8;
  --colorShadow: #c1c5d6;

  /* --color1: #f8feff;
  --color2: #1d374d;
  --color3: #c592cb;
  --clorWrapper: #d2e3f1;
  --colorShadow: #b967c87a; */
}

body {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: var(--color1);
}

body::-webkit-scrollbar {
  width: 0px;
  background-color: var(--color1);
}

body::-webkit-scrollbar-thumb {
  background: var(--color2);
  border-radius: 4px;
}

b {
  color: var(--color4);
  font-weight: 600;
}

a,
button {
  transition: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  -webkit-tap-highlight-color: #ffffff00;
}

section{
  position: relative;
}


.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  height: 100%;
}





/* nav */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color1);
  padding: 14px 0;
  z-index: 10;
  box-shadow: 0 0 8px 1px var(--colorShadow);
  border-radius: 0 0 10px 10px;
}

.nav__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.footer__logo {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.nav__logo path {
  fill: var(--color2);
}

.nav__logo .path_color,
.footer__logo .path_color {
  fill: var(--color3);
}


.nav__links {
  display: flex;
  gap: 64px;
}

.nav__links a {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 120%;
  color: var(--color2);
}

.nav__links a:hover {
  color: var(--color3);
}

.nav__links a i {
  display: none;
}

.nav__contact,
.footer__contact {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.nav__contact a,
.footer__contact a {
  font-size: 1.8em;
  line-height: 120%;
  font-weight: 400;
  color: var(--color2);
}


.nav__contact a:hover,
footer a:hover {
  color: var(--color3);
}

.hamburger {
  display: none;
}

/* header */

header {
  height: 100vh;
  background: linear-gradient(107.93deg, var(--color1) 0%, var(--colorShadow) 100%);
  background-size: 400%;
  background-repeat: no-repeat;
  animation: headerBg 5s infinite linear alternate-reverse;
  max-height: 820px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 50px var(--colorShadow), 0px 4px 10px rgba(0, 180, 237, 0.1);
  border-radius: 20px;
}

@keyframes headerBg {
  0% {
    background-position: top 20% left 20%;
  }

  100% {
    background-position: bottom 20% right 20%;
  }
}

header .container {
  height: auto;
}

.header__elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.header__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: start;
}

h1 {
  font-size: 5.6em;
  color: var(--color2);
}

.header__info p {
  font-size: 2em;
  line-height: 150%;
  font-style: italic;
  color: var(--color2);
  max-width: 460px;
}

.header__info a {
  padding: 16px 32px;
  background-color: var(--color3);
  color: var(--color1);
  font-size: 2em;
  border-radius: 12px;
  border: 1px solid var(--color3);
}

.header__info a:hover {
  background-color: var(--color2);
}

.header__foto {
  flex-shrink: 0;
  max-width: 460px;
  width: 40%;
}

/* about */

section {
  padding: 80px 0;
}

h2 {
  font-weight: 800;
  font-size: 4.6em;
  line-height: 40px;
  color: var(--color2);
  margin: 0 0 60px 0;
  font-family: 'Montserrat', sans-serif;
}

.about__elements {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 109px;
}

.about__elements p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 24px 32px;
  box-shadow: 0px 0px 50px var(--colorShadow), 0px 4px 10px rgba(0, 180, 237, 0.1);
  border-radius: 30px;
}

.about__foto {
  max-width: 400px;
  width: 50%;
}

/* courses */

.courses h2 {
  text-align: center;
  margin-bottom: 10px;
}

.courses__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.courses__list {
  position: relative;
  /* width: 100vw;
  left: -20px; */
  padding: 50px 20px 70px;
  /* flex-wrap: nowrap; */
  overflow-x: scroll;
  justify-content: center;
  pointer-events: visible;
}

.courses__list::-webkit-scrollbar,
.prices__list::-webkit-scrollbar  {
  width: 4px;
  height: 10px;
  background-color: var(--color1);
}

.courses__list::-webkit-scrollbar-thumb,
.prices__list::-webkit-scrollbar-thumb  {
  background: var(--color3);
  border-radius: 10px;
  cursor: pointer;
}



.courses__buttons{
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, -10px);
  display: flex;
  gap: 60px;
  & button{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--color3);
    cursor: pointer;
    color: var(--color1);
    font-size: 20px;
    &:hover{
      background-color: var(--color2);
    }
  }
}


.course-card {
  max-width: 380px;
  box-shadow: 0px 0px 20px var(--colorShadow), 0px 4px 10px rgba(0, 180, 237, 0.1);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  justify-content: space-between;
  flex-shrink: 0;
  transition: 0.5s;
  &:hover{
    box-shadow: 0px 0px 40px var(--colorShadow), 0px 4px 10px rgba(0, 180, 237, 0.3);
  }
}

.course-card__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

}

.course-card img {
  width: 100%;
  max-width: 100px;
  align-self: center;
}

.course-card h3 {
  font-size: 2em;
  align-self: center;
  color: var(--color2);
}

.course-card p {
  font-size: 1.4em;
  line-height: 150%;
  color: var(--color2);
}

.course-card span {
  font-weight: 600;
}

.course-card button {
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  border: 1px solid var(--color3);
  background-color: var(--color3);
  color: var(--color1);
}

.course-card button i {
  transition: 0.4s;
  margin: 0 5px;
}

.course-card button:hover {
  background-color: var(--color2);
}


/* method */
.method {
  background-color: var(--color3);
  border-radius: 20px;
  box-shadow: 0px 0px 50px var(--colorShadow), 0px 4px 10px rgba(0, 180, 237, 0.1);
}

.method h2 {
  text-align: center;
  color: var(--color1);
}

.method__list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.method__item {
  max-width: 380px;
  box-shadow: 0px 4px 50px #23232768;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  justify-content: start;
  background-color: var(--color3);
  color: var(--color1);
}

.method__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.method__item i {
  font-size: 50px;
}

.method__item h3 {
  font-size: 2em;
  text-align: center;
}

.method__item p {
  font-size: 1.4em;
  line-height: 150%;
}

.method__item hr {
  width: 80%;
}

.method__item_light {
  background-color: var(--color2);
  color: var(--color1);
}

.method img {
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 50px #23232768;
}

/* benefit */
.benefit h2 {
  text-align: center;
}

.benefit__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.benefit__item {
  width: 100%;
  max-width: 520px;
  box-shadow: 0px 0px 45px var(--color3), 0px 4px 10px rgba(0, 180, 237, 0.1);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  /* align-items: stretch; */
  flex-direction: row;
  gap: 16px;
  /* justify-content: center; */
  background-color: var(--color1);
  color: var(--color2);
}

.benefit__item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.benefit__item h3 {
  font-size: 2em;
  text-align: center;
}

.benefit__item p {
  font-size: 1.4em;
  line-height: 150%;
}

.benefit__item img {
  border-radius: 12px;
  width: 60%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

/* prices */

.prices h2 {
  text-align: center;
}

.prices__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.prices__item {
  width: 100%;
  max-width: 250px;
  box-shadow: 0px 0px 45px var(--color3), 0px 4px 10px rgba(0, 180, 237, 0.1);
  border-radius: 20px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color1);
  color: var(--color2);
  flex-shrink: 0;
}

.prices__item i {
  align-self: center;
  font-size: 4em;
  margin-bottom: 10px;
}

.prices__item h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.prices__item p {
  font-size: 1.4em;
}

.prices__item:nth-child(1) i {
  display: inline-block;
  transform: scale(0.5);
}

.prices__item:nth-child(2) i {
  display: inline-block;
  transform: scale(0.8);
}

.prices__item:nth-child(3) i {
  display: inline-block;
  transform: scale(1);
}

.prices__item:nth-child(4) i {
  display: inline-block;
  transform: scale(1.2);
}

.prices__item:nth-child(5) i {
  display: inline-block;
  transform: scale(1.5);
}

.prices .prices__description {
  font-size: 1.6em;
  line-height: 150%;
  max-width: max-content;
  margin: 0 auto;
}


/* contact */

.contact h2 {
  text-align: center;
}

.contact h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  color: var(--color2);
}

.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.contact label {
  font-size: 1.8em;
  font-weight: 600;
  color: var(--color3);
}

.contact input {
  padding: 16px 10px;
  margin-bottom: 20px;
  font-size: 1.6em;
  font-family: 'Rubik', sans-serif;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: var(--color2);
  transition: 0.4s;
  box-shadow: 0px 0px 2px var(--color3), 0px 4px 10px rgba(0, 180, 237, 0.1);
}

.contact input::placeholder {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: var(--color3);
}

.contact input:focus {
  box-shadow: 0px 0px 16px var(--color3), 0px 4px 10px rgba(0, 180, 237, 0.1);
}

.contact button {
  padding: 16px 10px;
  margin-bottom: 10px;
  font-size: 2em;
  border-radius: 8px;
  outline: none;
  background-color: var(--color3);
  color: var(--color1);
  border: 1px solid var(--color3);
  cursor: pointer;
}

.contact button:hover {
  background-color: var(--color2);
}

form p {
  font-size: 1.2em;
  color: var(--color3);
}

form p span {
  color: var(--color2);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

form iframe {
  display: none;
}

.form-submit {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background-color: var(--color3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.form-submit h3 {
  color: var(--color1);
  font-weight: 600;
}

/* footer */

footer {
  background-color: var(--color2);
  border-radius: 20px 20px 0 0;
}

.footer__elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.footer__contact a {
  color: var(--color1);
}

.footer__mailLink {
  color: var(--color1);
  font-size: 2em;
}

.footer__logo path {
  fill: var(--color1);
}


/* module */

.main-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--clorWrapper);
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  padding: 16px;
}

.modal-block {
  transition: 0.4s;
  pointer-events: fill;
  position: absolute;
  width: calc(100% - 80px);
  max-width: 800px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color1);
  color: var(--color2);
  box-shadow: 0px 0px 10px var(--colorShadow), 0px 4px 10px rgba(0, 180, 237, 0.1);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  height: fit-content;
  height: 100%;
  height: auto;
  max-height: 80vh;
}
.modal-block::-webkit-scrollbar{
  width: 4px;
  height: 10px;
  background-color: transparent;
  padding: 10px 0;
  
}

.modal-block::-webkit-scrollbar-thumb{
  background: var(--color3);
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(-10px);
}

.modal-block h3 {
  text-align: center;
  margin-bottom: 4px;
  font-size: 2em;
}

.modal-block h4 {
  font-size: 1.4em;
  margin-bottom: 6px;
  margin-top: 26px;
  text-transform: uppercase;
}

.modal-block p {
  font-size: 1.4em;
  line-height: 140%;
  margin-bottom: 6px;
}

.modal-block ul {
  margin-bottom: 8px;
  padding-left: 32px;
  font-size: 1.4em;
  line-height: 150%;
}

.modal-block section {
  padding: 16px 0;
}

/* js */

._show {
  opacity: 1;
  visibility: visible;
}

._choice {
  background-color: rgb(85, 14, 14) !important;
}

._fixid {
  overflow: hidden;
}